#laminas {
  padding: 8px 0;
  text-align: center;
  color: #ffffff;
  background-color: #65b30b;
  font-size: 1.125rem;
  position: fixed;
  top: 73px;
  width: 100%;
  z-index: 10;

  a {
    text-decoration: underline;
    color: #ffffff;
  }
}

.abandonment {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    text-align: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
